koodisto-api/src/main/resources/wsdl/common.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema version="1.0" elementFormDefault="unqualified"
           targetNamespace="http://service.koodisto.sade.vm.fi/types/common"
           xmlns:tns="http://service.koodisto.sade.vm.fi/types/common"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="KoodiType">
        <xs:sequence>
            <xs:element name="koodiUri" type="xs:string"
                maxOccurs="1" minOccurs="1" />
            <xs:element name="resourceUri" type="xs:string"
                maxOccurs="1" minOccurs="1" />
            <xs:element minOccurs="0" maxOccurs="1" name="koodisto"
                type="tns:KoodistoItemType" />
            <xs:element name="versio" type="xs:int" />
            <xs:element name="koodiArvo" type="xs:string" />
            <xs:element minOccurs="0" name="paivitysPvm"
                type="xs:dateTime" />
            <xs:element minOccurs="0" name="voimassaAlkuPvm"
                type="xs:dateTime" />
            <xs:element minOccurs="0" name="voimassaLoppuPvm"
                type="xs:dateTime" />
            <xs:element minOccurs="0" name="tila" type="tns:TilaType" />
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="metadata" nillable="true" type="tns:KoodiMetadataType" />
            <xs:element name="lockingVersion" type="xs:long" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="koodi" type="tns:KoodiType" />

    <xs:complexType name="KoodiCollectionType">
        <xs:sequence>
            <xs:element name="koodi" type="tns:KoodiType" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="koodiCollection" type="tns:KoodiCollectionType" />

    <xs:complexType name="KoodiUriAndVersioType">
        <xs:sequence>
            <xs:element name="koodiUri" type="xs:string"
                maxOccurs="1" minOccurs="1" />
            <xs:element name="versio" type="xs:int"
                maxOccurs="1" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KoodiMetadataType">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="kieli"
                type="tns:KieliType" />
            <xs:element minOccurs="1" maxOccurs="1" name="nimi"
                type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="kuvaus"
                type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="lyhytNimi"
                type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="kayttoohje"
                type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="kasite"
                type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1"
                name="sisaltaaMerkityksen" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1"
                name="eiSisallaMerkitysta" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1"
                name="huomioitavaKoodi" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1"
                name="sisaltaaKoodiston" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SuhteenTyyppiType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SISALTYY" />
            <xs:enumeration value="RINNASTEINEN" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="KieliType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FI" />
            <xs:enumeration value="SV" />
            <xs:enumeration value="EN" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="KoodistoType">
        <xs:sequence>
            <xs:element name="koodistoUri" type="xs:string"
                maxOccurs="1" minOccurs="1" />
            <xs:element name="resourceUri" type="xs:string"
                maxOccurs="1" minOccurs="1" />
            <xs:element name="versio" type="xs:int" />
            <xs:element minOccurs="0" name="paivitysPvm"
                type="xs:dateTime" />
            <xs:element minOccurs="0" name="voimassaAlkuPvm"
                type="xs:dateTime" />
            <xs:element minOccurs="0" name="voimassaLoppuPvm"
                type="xs:dateTime" />
            <xs:element minOccurs="0" name="tila" type="tns:TilaType" />
            <xs:element minOccurs="0" name="omistaja" type="xs:string" />
            <xs:element minOccurs="0" name="organisaatioOid"
                type="xs:string" />
            <xs:element minOccurs="0" name="lukittu" type="xs:boolean" />
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="metadataList" nillable="true" type="tns:KoodistoMetadataType" />
            <xs:element name="lockingVersion" type="xs:long" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KoodistoMetadataType">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="kieli"
                type="tns:KieliType" />
            <xs:element minOccurs="1" maxOccurs="1" name="nimi"
                type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="kuvaus"
                type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="kayttoohje"
                type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="kasite"
                type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="kohdealue"
                type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1"
                name="kohdealueenOsaAlue" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1"
                name="sitovuustaso" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1"
                name="toimintaymparisto" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1"
                name="tarkentaaKoodistoa" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1"
                name="huomioitavaKoodisto" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1"
                name="koodistonLahde" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="koodisto" type="tns:KoodistoType" />

    <xs:complexType name="KoodistoUriAndVersioType">
        <xs:sequence>
            <xs:element name="koodistoUri" type="xs:string"
                        maxOccurs="1" minOccurs="1" />
            <xs:element name="versio" type="xs:int"
                        maxOccurs="1" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KoodistoRyhmaMetadataType">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="nimi"
                type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="kieli"
                type="tns:KieliType" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TilaType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PASSIIVINEN" />
            <xs:enumeration value="LUONNOS" />
            <xs:enumeration value="HYVAKSYTTY" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="KoodistoRyhmaCollectionType">
        <xs:sequence>
            <xs:element name="koodistoryhma" type="tns:KoodistoRyhmaListType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="koodistoRyhmaCollection" type="tns:KoodistoRyhmaCollectionType" />

    <xs:complexType name="KoodistoRyhmaListType">
        <xs:sequence>
            <xs:element minOccurs="0" name="koodistoRyhmaUri"
                maxOccurs="1" type="xs:string" />
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="koodistoRyhmaMetadatas" nillable="true"
                type="tns:KoodistoRyhmaMetadataType" />
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="koodistos" nillable="true" type="tns:KoodistoListType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KoodistoListType">
        <xs:sequence>
            <xs:element name="koodistoUri" minOccurs="1"
                maxOccurs="1" type="xs:string" />
            <xs:element name="omistaja" minOccurs="0"
                maxOccurs="1" type="xs:string" />
            <xs:element name="organisaatioOid" minOccurs="1"
                maxOccurs="1" type="xs:string" />
            <xs:element name="lukittu" minOccurs="0"
                maxOccurs="1" type="xs:boolean" />
            <xs:element name="latestKoodistoVersio"
                minOccurs="0" maxOccurs="1" type="tns:KoodistoVersioListType" />
            <xs:element name="koodistoVersios" minOccurs="0"
                maxOccurs="unbounded" type="tns:KoodistoVersioListType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KoodistoVersioListType">
        <xs:sequence>
            <xs:element name="koodistoUri" minOccurs="1"
                maxOccurs="1" type="xs:string" />
            <xs:element name="versio" type="xs:int"
                minOccurs="1" maxOccurs="1" />
            <xs:element minOccurs="0" name="paivitysPvm"
                type="xs:dateTime" />
            <xs:element minOccurs="0" name="voimassaAlkuPvm"
                type="xs:dateTime" />
            <xs:element minOccurs="0" name="voimassaLoppuPvm"
                type="xs:dateTime" />
            <xs:element minOccurs="0" name="tila" type="tns:TilaType" />
            <xs:element maxOccurs="unbounded" minOccurs="0"
                name="metadataList" nillable="true" type="tns:KoodistoMetadataType" />
            <xs:element name="koodisto" minOccurs="1" maxOccurs="1"
            	type="tns:KoodistoListType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KoodistoItemType">
        <xs:sequence>
            <xs:element name="koodistoUri" minOccurs="1"
                maxOccurs="1" type="xs:string" />
            <xs:element name="organisaatioOid" minOccurs="1"
                maxOccurs="1" type="xs:string" />
            <xs:element name="koodistoVersio" minOccurs="1"
                maxOccurs="unbounded" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GenericFaultInfoType">
        <xs:sequence>
            <xs:element name="errorCode" type="xs:string"></xs:element>
            <xs:element name="explanation" type="xs:string"
                maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="fieldErrors" minOccurs="0"
                maxOccurs="unbounded" type="tns:FieldErrorType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FieldErrorType">
        <xs:sequence>
            <xs:element name="field" type="xs:string"
                minOccurs="1" maxOccurs="1" />
            <xs:element name="errorMessage" type="xs:string"
                minOccurs="1" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="ExportImportFormatType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="JHS_XML" />
            <xs:enumeration value="CSV" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>