koodisto-api/src/main/resources/wsdl/koodistoAdminService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="koodistoAdminService"
    targetNamespace="http://service.koodisto.sade.vm.fi/" xmlns:ns1="http://service.koodisto.sade.vm.fi/types"
    xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://service.koodisto.sade.vm.fi/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://service.koodisto.sade.vm.fi/">
            <xsd:import namespace="http://service.koodisto.sade.vm.fi/types"
                schemaLocation="koodistoAdminService.xsd" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="updateKoodistoResponse">
        <wsdl:part element="ns1:updateKoodistoResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createKoodisto">
        <wsdl:part element="ns1:createKoodisto" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createKoodistoResponse">
        <wsdl:part element="ns1:createKoodistoResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateKoodisto">
        <wsdl:part element="ns1:updateKoodisto" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteKoodistoVersion">
        <wsdl:part element="ns1:deleteKoodistoVersion" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteKoodistoVersionResponse">
        <wsdl:part element="ns1:deleteKoodistoVersionResponse"
            name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="genericFault">
        <wsdl:part name="fault" element="ns1:genericFaultInfo"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="koodistoAdminService">
        <wsdl:documentation>Palvelurajapinta koodistojen hallinnointiin</wsdl:documentation>
        <wsdl:operation name="createKoodisto">
            <wsdl:documentation>Luo uuden koodiston annettuihin koodistoryhmii</wsdl:documentation>
            <wsdl:input message="tns:createKoodisto" name="createKoodisto">
            </wsdl:input>
            <wsdl:output message="tns:createKoodistoResponse"
                name="createKoodistoResponse">
            </wsdl:output>
            <wsdl:fault name="fault" message="tns:genericFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteKoodistoVersion">
            <wsdl:documentation>Poistaa koodiston version</wsdl:documentation>
            <wsdl:input message="tns:deleteKoodistoVersion"
                name="deleteKoodistoVersion">
            </wsdl:input>
            <wsdl:output message="tns:deleteKoodistoVersionResponse"
                name="deleteKoodistoVersionResponse">
            </wsdl:output>
            <wsdl:fault name="fault" message="tns:genericFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateKoodisto">
            <wsdl:documentation>Päivittää koodistoa</wsdl:documentation>
            <wsdl:input message="tns:updateKoodisto" name="updateKoodisto">
            </wsdl:input>
            <wsdl:output message="tns:updateKoodistoResponse"
                name="updateKoodistoResponse">
            </wsdl:output>
            <wsdl:fault name="fault" message="tns:genericFault"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="koodistoAdminServiceSoapBinding"
        type="tns:koodistoAdminService">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="createKoodisto">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="createKoodisto">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="createKoodistoResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteKoodistoVersion">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="deleteKoodistoVersion">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="deleteKoodistoVersionResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateKoodisto">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="updateKoodisto">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="updateKoodistoResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="koodistoAdminService">
        <wsdl:port binding="tns:koodistoAdminServiceSoapBinding"
            name="koodistoAdminServicePort">
            <soap:address
                location="http://localhost:8181/cxf/koodistoAdminService" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>