koodisto-api/src/main/resources/wsdl/koodiService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="koodiService"
    targetNamespace="http://service.koodisto.sade.vm.fi/" xmlns:ns1="http://service.koodisto.sade.vm.fi/types"
    xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://service.koodisto.sade.vm.fi/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://service.koodisto.sade.vm.fi/">
            <xsd:import namespace="http://service.koodisto.sade.vm.fi/types"
                schemaLocation="koodiService.xsd" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="listKoodiByRelationRequest">
        <wsdl:part name="parameters" element="ns1:listKoodiByRelation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listKoodiByRelationResponse">
        <wsdl:part name="parameters" element="ns1:listKoodiByRelationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="searchKoodisRequest">
        <wsdl:part name="parameters" element="ns1:searchKoodis"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="searchKoodisResponse">
        <wsdl:part name="parameters" element="ns1:searchKoodisResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="searchKoodisByKoodistoRequest">
        <wsdl:part name="parameters" element="ns1:searchKoodisByKoodisto"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="searchKoodisByKoodistoResponse">
        <wsdl:part name="parameters" element="ns1:searchKoodisByKoodistoResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="genericFault">
        <wsdl:part name="fault" element="ns1:genericFaultInfo"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="koodiService">
        <wsdl:documentation>Palvelurajapinta rajapinta koodien
            hakemiseen</wsdl:documentation>
        <wsdl:operation name="listKoodiByRelation">
            <wsdl:documentation>Listaa koodit, joilla on suhde annettuun
                koodiin. Suhdetyyppi on SISALTYY tai RINNASTUU
            </wsdl:documentation>
            <wsdl:input message="tns:listKoodiByRelationRequest"></wsdl:input>
            <wsdl:output message="tns:listKoodiByRelationResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tns:genericFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="searchKoodis">
            <wsdl:documentation>Hakee koodeja annetuilla kriteereill
            </wsdl:documentation>
            <wsdl:input message="tns:searchKoodisRequest"></wsdl:input>
            <wsdl:output message="tns:searchKoodisResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tns:genericFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="searchKoodisByKoodisto">
            <wsdl:documentation>Hakee koodeja koodistosta annetuilla
                kriteereillä</wsdl:documentation>
            <wsdl:input message="tns:searchKoodisByKoodistoRequest"></wsdl:input>
            <wsdl:output message="tns:searchKoodisByKoodistoResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tns:genericFault"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="koodiServiceSoapBinding" type="tns:koodiService">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="listKoodiByRelation">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchKoodis">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchKoodisByKoodisto">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="koodiService">
        <wsdl:port binding="tns:koodiServiceSoapBinding" name="koodiServicePort">
            <soap:address location="http://localhost:8181/cxf/koodiService" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>